@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
#landing{
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #159957;  /* fallback for old browsers */
	background: linear-gradient(to bottom, #004ff9, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: -webkit-linear-gradient(top, #004ff9 0%, #159957 100%);  /* Chrome 10-25, Safari 5.1-6 */
	background: -moz-linear-gradient(top,  #004ff9 0%, #159957 100%); /* FF3.6-15 */
}
#title-container{
	position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40vh;
    left: 50%;
    width: 80vw;
    text-transform: uppercase;
}
#title{
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-size: 10vh;
	letter-spacing: 0.2rem;
	margin-bottom: 5px;
}
#title #first{
	font-weight: 300;
}
#title #second{
	font-weight:600;
}
#subtitle{
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-size: 4.5vh;
	margin-top: 10px;
	font-weight:200;
	word-spacing: 5px;
}
#downButton-container{
	color:white;
	text-align: center;
	width:100vw;
	position:absolute;
	bottom: 0;
	left: 0;
}
.arrow{
	margin:0 auto;
    box-sizing: border-box;
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.arrow:hover{
	 border-bottom-width: 4px;
  border-right-width: 4px;
}
